* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body, #root {
  height: 100%;
}

body {
  background: rgb(22, 22, 22);
}

#root::before {
  content: "";
  background-image: url("../assets/blob.svg");
  width: 100%;
  height: 100%;
  min-width: 800px;
  position: absolute;
  background-position-x: -400px;
  background-position-y: -150px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  z-index: -1;

  @media (max-width: 768px) {
    display: none;
  }
}
